/*****************
 Базовые размеры шрифтов
*************************/
$rembase: 16px;
$font-sm: 14px;
$line-height-ratio-base: 1.5em;
$line-height-ratio-base-ul: 1.5;

/*******************
 Гарнитуры шрифтов
*******************/
$baseFonts: Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
$normalFont: "Open Sans", $baseFonts;

/********
 Z-index
********/
$headerZindex: 10;
$topMenuZindex: $headerZindex + 10;
$selectRegionZindex: $headerZindex + 20;

/*******
 Цвета
*******/
$white: #ffffff;

/********************
 11-кратные размеры
********************/
$baseSize: 11px;
@function baseSizeX($x: 1) {
	@return $baseSize * $x;
}

$basePMargin: 2px;
@function base-p-marginX($x: 1) {
	@return $baseSize *$x - $baseSize + $basePMargin;
}