@mixin container($gutter: $grid-gutter-width) {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: floor(($gutter / 2));
    padding-right: ceil(($gutter / 2));
}

@mixin clear-container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

@mixin container-responsive-width {
    @include sm-and-up {
        width: $container-sm;
    }

    @include md-and-up {
        width: $container-md;
    }

    @include lg-and-up {
        width: $container-lg;
    }

    @include xl-and-up {
        width: $container-xl;
    }
}

@mixin container-responsive-width-sm-only {
    @include sm-and-up {
        width: $container-sm;
    }
}

@mixin container-responsive-width-md-only {
    @include md-and-up {
        width: $container-md;
    }
}

@mixin container-responsive-width-lg-only {
    @include lg-and-up {
        width: $container-lg;
    }
}

@mixin container-responsive-width-xl-only {
    @include xl-and-up {
        width: $container-xl;
    }
}