// TODO: доработать, не очень удобно

@function getPropertyOrNull($map, $propertyName) {
	@if map_has_key($map, $propertyName) {
		@return map_get($map, $propertyName);
	}
	@else {
		@return null;
	}
}

$fonts: null !default;
$rembase: 16 !default;
/*
Пример $fonts
$fonts: (
		rm-16-link: (
				font-family: $normalFont,
				font-size: 16px,
				color: $linkFont,
				line-height: baseSizeX(2),
				font-weight: 500
		)
);
*/
@mixin font($fontMapName, $important: null) {
	$fontMap: map_get($fonts, $fontMapName);

	$font-family: map_get($fontMap, font-family);
	$font-size: map_get($fontMap, font-size);
	$font-size-rem: ($font-size / $rembase) + rem;
	$line-height: map_get($fontMap, line-height);
	$color: map_get($fontMap, color);

	$font-weight: getPropertyOrNull($fontMap, font-weight);
	$font-style: getPropertyOrNull($fontMap, font-style);
	$font-variant: getPropertyOrNull($fontMap, font-variant);
	$text-transform: getPropertyOrNull($fontMap, text-transform);

	font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family $important;
	font: $font-style $font-variant $font-weight #{$font-size-rem}/#{$line-height} $font-family $important;
	color: $color $important;
	@if $text-transform {
		text-transform: $text-transform $important;
	}
}



/* Include font-size in rem and pixels (for ie) */
@mixin font-size ($size: $rembase) {
	font-size: $size;
	font-size: ($size / $rembase) + rem;
}
/* Include font-size and line-height (both in rem and pixels) */
@mixin font-line-size ($size: $rembase, $ratio: $line-height-ratio-base) {
	@include font-size($size);
	line-height: $ratio;
}

/* Include equal height and line-height */
@mixin level-line-height ($height: $rembase) {
	height: $height;
	line-height: $height;
}