$grid-breakpoints: (
    // Extra small screen / phone
    xs: 0,
    // Small screen / phone
    sm: 576px,
    // Medium screen / tablet
    md: 768px,
    // Large screen / desktop
    lg: 992px,
    // Extra large screen / wide desktop
    xl: 1200px
) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
) !default;

// Breakpoints
$screen-xs-min: map_get($grid-breakpoints, xs);
$screen-xs-max: (map_get($grid-breakpoints, sm) - 1);
$screen-sm-min: map_get($grid-breakpoints, sm);
$screen-sm-max: (map_get($grid-breakpoints, md) - 1);
$screen-md-min: map_get($grid-breakpoints, md);
$screen-md-max: (map_get($grid-breakpoints, lg) - 1);
$screen-lg-min: map_get($grid-breakpoints, lg);
$screen-lg-max: (map_get($grid-breakpoints, xl) - 1);
$screen-xl-min: map_get($grid-breakpoints, xl);

// gutter
$grid-gutter-width: 30px !default;

//container
$container-sm: (map_get($container-max-widths, sm) + $grid-gutter-width) !default;
$container-md: (map_get($container-max-widths, md) + $grid-gutter-width) !default;
$container-lg: (map_get($container-max-widths, lg) + $grid-gutter-width) !default;
$container-xl: (map_get($container-max-widths, xl) + $grid-gutter-width) !default;

// шаг сетки
$baseSize: 10px !default;

// button
$btn-font-size-base: 16px !default;
$btn-border-radius-base: 0 !default;
$btn-border-size-base: 0 !default;